@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Cardo&family=Signika:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.back-img{
  object-fit: cover;
  background-blend-mode: screen;
}
.back-color{
    background-color:#e10c0c;
}
nav{
    position: sticky;
    top: 0;
}
.header-title h5::after{
  content: '';
  bottom: -10px;
  width: 100px;
  height: 2px;
  background: #e10c0c;
  margin-top: 5px;
  display: block;
  }
  /* img scale */
.img-box{
  position:relative;
  overflow: hidden;
}
.box-img{
    object-fit: cover;
    transition: 0.7s all ease;
}
.img-box:hover .box-img{
    transform: scale(1.1);
    overflow: hidden;
}
  div.scrollmenu {
    background-color: #333;
    overflow: hidden;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

  .img-height{
    height: 170px;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .c-left {
    position: absolute;
    bottom: -1px;
    left: 0px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }


  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  /* Center text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
  }



.box{
  position:relative; 
  display: inline-flex;
  width: 100%;
  height: 350px;
  transition: 0.5s;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
}
.box:hover{
  transition: all 0.5s ease;
  border-radius: 10px;
}
@keyframes zoom{
from{
    transform: scale(0);
}
to{
    transform: scale(1);
}
}
.box .imgB{
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
margin:0 auto;
box-sizing: border-box;
border-radius: 10px;

}
.box .imgB img{
position: absolute;
width: 100%;
height: 100%;
opacity: 0.4;
background-blend-mode: screen;
transition:all 0.6s ease;
}
.box:hover .imgB img{
opacity: 1;
transition: .7s;
animation: zoom 1s forwards;
object-fit: cover;
transition: all 0.5s ease;
border-radius: 10px;
}

.box:before{
content: "";
top: -2px;
left: -2px;
bottom: -2px;
right: -2px;
position: absolute;
background: #fff;
z-index: -1;
}
.box:after{
content: "";
top: -2px;
left: -2px;
bottom: -2px;
right: -2px;
position: absolute;
background: #fff;
filter: blur(40px);
z-index: -2;
transition: 0.4s;
}
.box:before,.box:after{
background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
 animation: move 5s infinite;
}
@keyframes move{
from{
left: 0px;
right: 2px;
}
 to{  
right: 2px;
bottom: 0;
 }
}

.box:nth-child(2):before,.box:nth-child(2):after{
  background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,.box:nth-child(3):after{
  background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
    
.box:hover .content{
opacity: 1;
}
.box .content h4{
  font-size: 20px;
  color:#fff;
  font-weight: 500;
  line-height: 20px;
}
.box .content span{
  font-size: 14px;
  color:#fff;
  font-weight: 200;
}

.box .content{
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.5s;
  }

  .cus-link{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .cus-link:hover{
    color:#e10c0c;
  }
  .cus-btn{
    color: #000000;
  }
  .cus-btn:hover{
    color:#e10c0c;
  }

  /* Animation Button */
  .animation-btn{
		position: absolute;
		overflow: hidden;
		text-decoration: none;
		padding: 5px 10px;
		color: #fff;
    border-radius: 10px;
    background-color: #e10c0c;
		font-weight: bold;
		font-size:20px;
		font-family: Arial;
	}
	.animation-btn:before{
		background: rgb(255,255,255,.05);
		position: absolute;
		content: "";
		top: 2px;
		left: 2px;
		bottom: 2px;
		width:50%;
	}
	.animation-btn:hover{
		box-shadow: 0 0 40px #2196f3, 0 0 80px #2196f3, 0 0 120px #2196f3;
    color: #fff;
	}
	.animation-btn span:nth-child(1){
		position: absolute;
		width: 100%;
		height: 2px;
		top: 0;
		left: 0;
		background:linear-gradient(to right,#0c002b,lavender);
		animation: animate1 2s linear infinite;
	}
	@keyframes animate1{
		0%{
			transform:translateX(-100%);
		}
		100%{
			transform:translateX(100%);
		}
	}
	.animation-btn span:nth-child(2){
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		right: 0;
		background:linear-gradient(to bottom,#0c002b,lavender);
		animation: animate2 2s linear infinite;
	}
	@keyframes animate2{
		0%{
			transform:translateY(-100%);
		}
		100%{
			transform:translateY(100%);
		}
	}
	.animation-btn span:nth-child(3){
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		right:0;
		background:linear-gradient(to left,#0c002b,lavender);
		animation: animate3 2s linear infinite;
	}
	@keyframes animate3{
		0%{
			transform:translateX(100%);
		}
		100%{
			transform:translateX(-100%);
		}
	}
	.animation-btn span:nth-child(4){
		position: absolute;
		width: 2px;
		height: 100%;
		bottom: 0;
		left: 0;
		background:linear-gradient(to top,#0c002b,lavender);
		animation: animate4 2s linear infinite;
	}
	@keyframes animate4{
		0%{
			transform:translateY(100%);
		}
		100%{
			transform:translateY(-100%);
		}
	}

  /* Box Aniamtion */
  .animation-area{
    background:linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 500px;
  }
  .box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  .box-area li{
    position: absolute;
    display: block;
    list-style-type: none;
    width: 25px;
    height: 25px;
    background:rgb(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  .box-area li:nth-child(1){
    left:86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    }
  
  .box-area li:nth-child(2){
    left:12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    }
  
  .box-area li:nth-child(3){
    left:70%;
    width: 150px;
    height: 150px;
    animation-delay: 5.5s;
    animation-duration: 10s;
    }
  
  .box-area li:nth-child(4){
    left:42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
    }
  
  .box-area li:nth-child(5){
    left:65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    }
  
  .box-area li:nth-child(6){
    left:65%;
    width: 40px;
    height: 40px;
    animation-delay: 3.5s;
    }
    @keyframes animate{
      0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
      }
    }
  
  

  .bg-red{
    background:#e10c0c;
  }
  .text-opacity{
    opacity: 0.4;
  }
  .cookieNotice{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 30px;
    z-index: 999;
  }
  .scrolltop{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 6px;
    margin: 20px 20px 30px 0;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
  }
  .active{
    opacity: 1;
  }
 
    /* Header title */
    .footer-sec{
      margin: 10px 25px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      }
    .header-title h5::after{
      content: '';
      bottom: -10px;
      width: 100px;
      height: 2px;
      background:#e10c0c;
      margin-top: 5px;
      display: block;
      }
      
    
  
@media (min-width: 768px){
    
    .container{
      padding: 0;
      margin: 0;
    }
    
}

